@model FindMe2.ViewModels.MainNewsVM
@{
    Layout = "_MasterMain";
}
<article class="content">
    <div class="tags">
        <ul class="tags__list">
            <li>
                <a class="users__link" href="/Home/Main?content=usertags"><span data-content="Мои теги">Мои теги</span></a>
                <ul class="user__tags">
                    @{
                        if (Model.content == "usertags" )
                        {
                            foreach (var item in Model.user_tags)
                            {
                                <li><a class="user__link user__link-sub" href="#">#@item</a></li>
                            }
                        }
                    }
                </ul>
            </li>
            <li>
                <a class="users__link" href="/Home/Main?content=popular"><span data-content="Популярные теги">Популярные теги</span></a>
                <ul class="popular__tags">
                    @{
                        if (Model.content == "popular" || Model.content == null)
                        {
                            foreach (var item in Model.popular_tags)
                            {
                                <li><a class="user__link pop__link-sub" href="#">#@item</a></li>
                            }
                        }
                    }
                </ul>
            </li>
            <!-- <li>
                <a class="user__link name__tags-link" href="#"><span data-content="По локации">По локации</span></a>
            </li> -->
        </ul>
        <div class="tags__add">
            <a href="#" data-id="popupAdd" class="tags__add-link">Добавить новость</a>
        </div>
    </div>
    <section class="cards">
        <div class="check_masonry">
               @foreach (var item in Model.News.lent_news.OrderByDescending(x=>x.DateNews))
                {
                    <div class="card" id="@item.idNews">
                        <div class="card__header" data_id="@item.IdAuthor">
                            <img class="avatar__card" src="@item.Avatar">
                            <div class="card__name">
                                <span class="name">@item.LoginAuthor</span>
                                <span class="data">@item.DateNews</span>
                            </div>
                        </div>
                        <div class="card__content">
                            <h3 class="card__content-title">@item.Title</h3>
                            <p class="card__content-text">@item.Text</p>
                            <div class="container_images">
                                @foreach (var attach in Model.News.lent_attach.Select(x => x).Where(x => x.Id_News == item.idNews))
                                {
                                    <div class="card__content-img">
                                        <img src="@attach.Url_attach" alt="food" />
                                    </div>
                                }
                            </div>

                            <div class="card__content-tags">
                                <ul class="card__content-tag">
                                    @foreach (var pic in Model.News.lent_tags.Select(x=>x).Where(x=>x.Id_News == item.idNews))
                                    {
                                        <li>
                                            <a class="user__link card__content-sub" href="#">#@pic.Title</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="card__footer">
                            @if (Model.fav_news.Any(x => x.Id_news == item.idNews))
                            {
                                <div class="icon__favorites active icon-active"></div>
                            }
                            else
                            {
                                <div class="icon__favorites active "></div>
                            }
                            <div class="icon__message"></div>
                            <span class="text__subscribers">@item.Interested</span>
                        </div>
                    </div>
                }
            </div>
    </section>
</article>
<aside class="aside__right">
    <ul class="people__block">
        <li><a class="people__link" href="#">Все</a></li>
        <li><a class="people__link" href="#">Новости</a></li>
        <li><a class="people__link" href="#">Люди</a></li>
        <li><a class="people__link" href="#">Комнаты</a></li>
    </ul>
</aside>
<section id="popupAdd" class="news-popup">
    <div class="news-popup__inner">
        <div class="news-popup__header">
            <div class="news-popup__avatar">
                <img src="@Model.current_user.Picture" class="avatar__card" alt="avatar"/>
            </div>

            <div class="news-popup__form-group">
                <form class="news-popup__form" asp-action="AddNews" asp-controller="Home" method="post">
                    <input type="text"
                           name="Title"
                           class="news-popup__input"
                           id="news-popup__input"
                           placeholder="Заголовок новости" 
                           maxlength="50"/>

                    <textarea type="text"
                              class="news-popup__textarea"
                              id="news-popup__textarea"
                              name="Text"
                              placeholder="Введите текст"
                              maxlength="500">
                    </textarea>
                    <div class="attachments">

                    </div>
                    <div class="tags">

                    </div>
                    <button type="submit" class="news-popup__button">
                        Отправить
                    </button>
                </form>
                <div class="news-popup__add-tags">
                    <span class="news-popup__add-icon">#добавь теги</span>
                </div>
            </div>
            <div class="news-popup__close"></div>
        </div>
        <div class="news-popup__footer">
            <div class="news-popup__camera"></div>
            <div class="news-popup__smile"></div>
            <div class="news-popup__music"></div>
            <div class="news-popup__play-circle"></div>
            <div class="news-popup__image"></div>
        </div>
    </div>
</section>
<section>
    <div id="popupTags" class="popup-tags__blocks">
        <div class=" search popup-tags__search">
            <form action="">
                <input type="text" class="popup-tags-input input input__popup" placeholder="Поиск по #тегов">
                <button type="submit" class="btn btn__popup"></button>
            </form>
        </div>
        <div class="tags popup-tags__tags">
            <ul class="popup-tags__list ">
                @foreach (var t in Model.All_tags)
                {
                    <li class="user__item" data_id="@t.id">
                        <a class="user__link pop__link-sub popup" href="#">#@t.Title<span class="popup__icon"></span></a>
                    </li>
                }
            </ul>
        </div>
        <div class="popup__close">
            <a href="#" class="close__link">закрыть</a>
        </div>
    </div>
</section>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="~/js/Lent_News.js"></script>
